<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raccoon Resume</title>
    {% load static %}
    <link rel="stylesheet" href={% static 'css/base.css' %}>
    <link rel="stylesheet" href={% static 'css/about.css' %}>
    <script src={% static 'js/nav.js' %} defer></script>
</head>

<body>

    <div id="sidebar">
        <a href={% url 'index' %}>Homepage</a>
        <a href={% url 'about' %}>About me</a>
        <a href={% url 'form' %}>Sign up</a>
        <a href={% url 'gallery' %}>Gallery</a>
        <a href={% url 'chatbot' %}>ChatBot</a>
    </div>

    <div id="main">

        <div id="header">
            <div class="header-element">
                <button id="menu-button" onclick=sidebar()>&#9776;</button>
                <h1>Welcome to my Animal Blog!</h1>
            </div>
        </div>
    
        <div class="container">
            <h2>About me</h2>
            <div id="about-section">
                <div class="content">
                    <img src={% static 'images/raccoon_pfp.jpg' %} alt="pfp_admin1">
                </div>
                <div class="content">
                    <p>I am a raccoon and I love rummaging through trash. Looking for a job as a trash collector!</p>
                    <ul style="list-style-type:square;">
                        <li><strong>First Name: </strong>John</li>
                        <li><strong>Last Name: </strong>Coon</li>
                        <li><strong>Race: </strong>Raccoon</li>
                    </ul>
                </div>
            </div>
            <h2 class="section-title">Education</h2>
            <ul style="list-style-type:square;">
                <li><strong>Raccoon School: </strong> - from 2008 to 2020, graduated at the top of the class.</li>
                <li><strong>Raccoon College: </strong> - from 2020 to 2024, got a degree in Raccoonism.</li>
            </ul>
            <h2 class="section-title">Experience</h2>
            <ul style="list-style-type:square;">
                <li><strong>Freelance Trash Collector: </strong> from 2024 to present, I am very passionate about my work.</li>
                <li><strong>Marvel: </strong> from 2024 to present, they needed someone to play Rocket Raccoon, I'm perfect for the job.</li>
            </ul>
            <h2 class="section-title">Skills</h2>
            <table>
                <tr>
                    <td><strong>Trash Collection</strong></td>
                    <td><strong>Acting</strong></td>
                    <td><strong>Fighting</strong></td>
                </tr>
                <tr>
                    <td>I've been doing that since birth.</td>
                    <td>I worked with Marvel.</td>
                    <td>A real raccoon has to defend his trash.</td>
                </tr>
            </table>
        </div>

    </div>

    <footer>
        <p>&copy; Animal Blog, by John Coon</p> 
    </footer>

</body>

</html>